/* -- @author Thomas Mook -- */
@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
}
body {
	background: grey;
	background-position: center; 
	background-size: cover;
	font-family: sans-serif;
}
.movieImage {
	width: 1000px;
	background-color: rgb(0,0,0,0.6);
	margin:50px auto auto auto;
	color: #FFFFFF;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}
.link {
	text-align: center;
}
.showDetails {
	overflow: auto;
	color: white;
	border-radius: 0px 0px 15px 15px;
	width: 1000px;
	height: auto;
	background-color: rgb(0,0,0,0.5);
	margin: auto;
}
.showDetails table {
	border-collapse: collpase;
 	border-spacing: 0;
 	border-width: thin 0 0 thin;
	margin: 0 0 1em;
	table-layout: auto;
	max-width: 100%;
}
.showDetails th, td {
	height:50px;
	border: 1px dotted #fff;
	width:180px;
	text-align: center;
}
.bewertung h4 {
	float:center;
}
.pic {	
	width: 281px;
}