/* -- @author Thomas Mook -- */
@charset "UTF-8";
body {
	background:white;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
.regform {
	margin-top:40px;
	width: 1000px;
	background-color: rgb(0,0,0,0.6);
	margin:auto;
	color: #FFFFFF;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}
.main {
	background-color: rgb(0,0,0,0.5);
	width: 1000px;
	margin: auto;
}
form {
	padding:10px;
}
.table td,.table th {
	border: 2px white solid;
	color: white;
	border-collapse: separate;
}
.table tr:hover {
	background-color: black;
	}
.regButton {
	position: relative;
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid white;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	curser: pointer;
}
.regButton2 {
	position: relative;
	width: 17,5px;
	height: 35px;
	font-size: 12px;
	text-align: center middle;
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	border: 2px solid white;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	curser: pointer;
	
}
	
.main input[type = "text"]:focus,.main input[type = "password"]:focus {
	border-color: #575757;	
}
.main button[type = "submit"]:hover {
	background:#575757;
	
}
.main a {
	text-decoration:none;
}
	